<div class="row">
  <div class="col-xs-12 well">
    <h1 class="text-warning text-center">Spawncamping Shame</h1>
    <ul class="list-unstyled">
    	<li><a class="text-warning" href="" ui-sref="primaries">Primaries</a></li>
    	<li><a class="text-warning" href="" ui-sref="">Secondaries</a></li>
    	<li><a class="text-warning" href="" ui-sref="">Equipment</a></li>
    	<li><a class="text-warning" href="" ui-sref="">Grenades</a></li>
    	<li><a class="text-warning" href="" ui-sref="teams">Teams</a></li>
    </ul>
  </div>
</div>