<div class="row">
  <div class="col-xs-12">
    <h1 class="text-warning text-center">Index</h1>
    <ul class="list-unstyled">
    	<li><a class="text-warning" href="" ui-sref="primaries">Primaries</a></li>
    	<li><a class="text-warning" href="" ui-sref="secondaries">Secondaries</a></li>
    	<li><a class="text-warning" href="" ui-sref="equipment">Equipment</a></li>
    	<li><a class="text-warning" href="" ui-sref="grenades">Grenades</a></li>
    	<li><a class="text-warning" href="" ui-sref="teams">Teams</a></li>
    </ul>
  </div>
</div>