<div class="row" ng-hide="add">
  <div class="col-xs-12">
    <h1 class="text-warning text-center">Primaries</h1>
    <ul class="list-unstyled">
    	<li ng-repeat="primary in primaries">
    		<div class="row">
                <div class="col-xs-12">
			    	<h3 class="text-warning">{{primary.name}}</h3>
			    	<p class="text-warning" ng-repeat="team in primary.team"> {{team.name}}</p>
			    	<button class="btn btn-default" type="button" data="primary._id" ng-click="editPrimary(primary._id)">Edit</button>
			    	<button class="btn btn-danger" type="button" data="primary._id" ng-click="deletePrimary(primary._id)">Delete</button>
		    	</div>
	    	</div>
    	</li>
    </ul>
    <button class="btn btn-info btn-block pull-right" type="button" ng-click="addPrimary()">Add new</button>
  </div>
</div>
<div class="row" ng-show="add">
	<div class="col-xs-12">
    	<h1 class="text-warning text-center">Add Primary</h1>
    	<form>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.name" placeholder="Name">
    		</div>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.special" placeholder="Special">
    		</div>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.desc" placeholder="Description">
    		</div>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.type" placeholder="Type">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.cost" placeholder="Cost">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.award" placeholder="Award">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.accuracy" placeholder="Accuracy">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.movement" placeholder="Movement">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.armor" placeholder="Armor">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.ammo" placeholder="Ammo">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.magazine" placeholder="Magazine">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.range" placeholder="Range">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.dmg" placeholder="Damage">
    		</div>
    		<div class="form-group">
    			<select multiple class="form-control" ng-model="primary.team" ng-options="team.name for team in teams track by team._id">
    				<option value="">Team</option>
    			</select>
    		</div>
    		<button class="btn btn-success btn-block pull-right" type="button" ng-click="savePrimary()">Add</button>
    	</form>
    </div>
</div>