<div class="row" ng-hide="add || edit">
  <div class="col-xs-12">
    <h1 class="text-warning text-center">Primaries</h1>
    <ul class="list-unstyled">
    	<li ng-repeat="primary in primaries">
    		<div class="row">
                <div class="col-xs-12">
			    	<h3 class="text-warning">{{primary.name}}</h3>
			    	<p class="text-warning"> Description: {{primary.desc}} </p>
			    	<p class="text-warning"> Type: {{primary.type}} </p>
			    	<p class="text-warning"> Special: {{primary.special}} </p>
			    	<p class="text-warning"> Cost: {{primary.cost | currency}} </p>
			    	<p class="text-warning"> Award: {{primary.award | currency}} </p>
			    	<p class="text-warning"> Firerate: {{primary.firerate}} </p>
			    	<p class="text-warning"> Accuracy:</p>
			    	<div class="progress progress-striped">
		                <div class="progress-bar progress-bar-info" style="width: {{primary.accuracy}}%;"></div>
		            </div>
			    	<p class="text-warning"> Ammo: {{primary.ammo}} / {{primary.magazine}} </p>
			    	<p class="text-warning"> Armor Penetration:</p>
			    	<div class="progress progress-striped">
		                <div class="progress-bar progress-bar-warning" style="width: {{primary.armor}}%;"></div>
		            </div>
			    	<p class="text-warning"> Range:</p>
			    	<div class="progress progress-striped">
		                <div class="progress-bar progress-bar-success" style="width: {{primary.range}}%;"></div>
		            </div>
			    	<p class="text-warning"> Damage:</p>
			    	<div class="progress progress-striped">
		                <div class="progress-bar progress-bar-danger" style="width: {{primary.dmg}}%;"></div>
		            </div>
			    	<p class="text-warning"> Available for: </p>
			    	<p class="text-warning" ng-repeat="team in primary.team"> {{team.name}}</p>
			    	<button class="btn btn-default" type="button" data="primary._id" ng-click="editPrimary(primary._id)">Edit</button>
			    	<button class="btn btn-danger" type="button" data="primary._id" ng-click="deletePrimary(primary._id)">Delete</button>
		    	</div>
	    	</div>
    	</li>
    </ul>
    <button class="btn btn-info btn-block pull-right" type="button" ng-click="addPrimary()">Add new</button>
  </div>
</div>
<div class="row" ng-show="add">
	<div class="col-xs-12">
    	<h1 class="text-warning text-center">Add Primary</h1>
    	<form>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.name" placeholder="Name">
    		</div>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.special" placeholder="Special">
    		</div>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.desc" placeholder="Description">
    		</div>
    		<div class="form-group">
    			<input type="text" class="form-control" ng-model="primary.type" placeholder="Type">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.cost" placeholder="Cost">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.award" placeholder="Award">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.accuracy" placeholder="Accuracy">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.movement" placeholder="Movement">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.armor" placeholder="Armor">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.ammo" placeholder="Ammo">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.magazine" placeholder="Magazine">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.range" placeholder="Range">
    		</div>
    		<div class="form-group">
    			<input type="number" class="form-control" ng-model="primary.dmg" placeholder="Damage">
    		</div>
    		<div class="form-group">
    			<select multiple class="form-control" ng-model="primary.team" ng-options="team.name for team in teams track by team._id">
    				<option value="">Team</option>
    			</select>
    		</div>
    		<button class="btn btn-success btn-block pull-right" type="button" ng-click="savePrimary()">Add</button>
    	</form>
    </div>
</div>
<div class="row" ng-show="edit">
    <div class="col-xs-12">
        <h1 class="text-warning text-center">Edit {{primaryToEdit.name}}</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="primaryToEdit.name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="primaryToEdit.special" placeholder="Special">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="primaryToEdit.desc" placeholder="Description">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="primaryToEdit.type" placeholder="Type">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.cost" placeholder="Cost">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.award" placeholder="Award">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.accuracy" placeholder="Accuracy">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.movement" placeholder="Movement">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.armor" placeholder="Armor">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.ammo" placeholder="Ammo">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.magazine" placeholder="Magazine">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.range" placeholder="Range">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="primaryToEdit.dmg" placeholder="Damage">
            </div>
            <div class="form-group">
                <select multiple class="form-control" ng-model="primaryToEdit.team" ng-options="team.name for team in teams track by team._id">
                    <option value="">Team</option>
                </select>
            </div>
            <button class="btn btn-success btn-block pull-right" type="button" data="primaryToEdit._id" ng-click="updatePrimary(primaryToEdit._id)">Update</button>
        </form>
    </div>
</div>